<aside class="sidebar" id="sidebar">
  <div class="logo-container">
    <div class="logo-wrapper">
      <img
        src="assets/images/logos/logo_without_bg.svg"
        alt="M'Clime Logo"
        class="logo-img"
      />
      <span class="logo-text">M'Clime</span>
    </div>

    <button class="toggle-btn" id="toggleBtn">
      <img
        src="assets/images/sidebar/collpsed.svg"
        alt="Toggle Sidebar"
        class="toggle-icon"
      />
    </button>

    <div class="tooltip">M'Clime</div>
  </div>

  <button class="btn-add-new">
    <img src="assets/images/sidebar/plus.svg" alt="Add New" />
    <span>Add New</span>
    <div class="tooltip">Add New</div>
  </button>

  <nav>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#home" class="nav-link" data-page="home">
          <img src="assets/images/sidebar/home.svg" alt="Home" />
          <span>Home</span>
          <div class="tooltip">Home</div>
        </a>
      </li>
      <li class="nav-item">
        <a href="#mydrive" class="nav-link" data-page="mydrive">
          <img src="assets/images/sidebar/drive.svg" alt="My Drive" />
          <span>My Drive</span>
          <div class="tooltip">My Drive</div>
        </a>
      </li>
      <li class="nav-item">
        <a href="#starred" class="nav-link" data-page="starred">
          <img src="assets/images/sidebar/starred.svg" alt="Starred" />
          <span>Starred</span>
          <div class="tooltip">Starred</div>
        </a>
      </li>
      <li class="nav-item">
        <a href="#bin" class="nav-link" data-page="bin">
          <img src="assets/images/sidebar/bin.svg" alt="Bin" />
          <span>Bin</span>
          <div class="tooltip">Bin</div>
        </a>
      </li>
      <li class="nav-item">
        <a href="#storage" class="nav-link" data-page="storage">
          <img src="assets/images/sidebar/storages.svg" alt="Storage" />
          <span>Storage</span>
          <div class="tooltip">Storage</div>
        </a>
      </li>
    </ul>
  </nav>

  <div class="sidebar-upgrade">
    <div class="upgrade-card">
      <svg width="28" height="28" viewBox="0 0 32 32" fill="none">
        <circle
          cx="16"
          cy="16"
          r="14"
          fill="#e0e7ff"
          stroke="#818cf8"
          stroke-width="1.5"
        />
        <path
          d="M16 10V22M12 18L16 22L20 18"
          stroke="#5b21b6"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <div>Upgrade Plan</div>
      <div class="storage-info">5000 / 10008</div>
    </div>
    <div class="tooltip">Upgrade Plan</div>
  </div>
</aside>