* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Outfit";
  src: url("../../../fonts/Outfit/static/Outfit-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Outfit";
  src: url("../../../fonts/Outfit/static/Outfit-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Outfit";
  src: url("../../../fonts/Outfit/static/Outfit-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Outfit";
  src: url("../../../fonts/Outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Outfit";
  src: url("../../../fonts/Outfit/static/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Outfit";
  src: url("../../../fonts/Outfit/static/Outfit-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Outfit";
  src: url("../../../fonts/Outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Outfit";
  src: url("../../../fonts/Outfit/static/Outfit-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Outfit";
  src: url("../../../fonts/Outfit/static/Outfit-Black.ttf") format("truetype");
  font-weight: 900;
}

:root {
  --primary: #5b21b6;
  --text-white: #ffffff;
  --primary-light: #7c3aed;
  --secondary: #3b82f6;
  --primary: #0000ff; /* Main primary */
  --primary-light: #8080ff; /* Light version of primary */
  --secondary: #4d4dff; /* Secondary blue */

  --text-primary: #1e293b;
  --text-secondary: #64748b;
  --text-tertiary: #94a3b8;
  --text-base: #313131;
  --border: #e2e8f0;
  --shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  --grad-start: rgba(209, 223, 243, 0.2);
  --grad-mid: rgba(209, 223, 243, 0.5);
  --grad-end: rgba(207, 223, 245, 0.8);
  --sidebar-width-expanded: 250px;
  --sidebar-width-collapsed: 70px;
  --outfit: "Outfit", sans-serif;
}

body {
  font-family: var(--outfit) !important;
  color: var(--text-primary);
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    var(--grad-start) 10%,
    var(--grad-mid) 50%,
    var(--grad-end) 100%
  );
  overflow-x: hidden;
}

.dashboard-wrapper {
  min-height: 100vh;
  display: flex;
  position: relative;
}
